<form action="/alterado/{{id}}" method="post">
  <p>Editar nome:</p>
  <input type="text" name="nome" placeholder="{{nome}}">
  <p>Editar numero:</p>
  <input name="numero" placeholder="{{numero}}"></input>
  <button type="submit">Editar Postagem</button>
</form>