<form action="/contatoAdicionado" method="post">
    <h3> Digite o nome do usuário:</h3>
    <input type="text" name="nome">
    <h3>Digite o numero:</h3>
    <input id="input" type="text" name="numero">
    <button type="submit">Cadastrar informações</button>
</form>
