<h1>Lista de Contatos com a opção de exclusão: </h1>
{{#each posts}}
<h3>nome: {{nome_contato}}</h3>
<h3>número: {{numero_contato}}</h3>
<a href="/deletar/{{id}}"><button>Deletar</button></a>
<hr>
{{/each}}